.post-results .result .img {
    max-height: 150px;
    height: auto;
    width: 210px;
}

.shop-divide .result .meta {
    flex-flow: column;
    margin-left: 20px;
}

.shop-divide .result .meta .post-count {
    font-size: 16px;
    font-weight: 400;
    color: #EFA00B;
    display: block;
    text-align: right;

}

.shop-divide .result .meta a {
    margin-top: auto;
    background-color: #EFA00B;
    color: #fff;
    padding: 6px 20px;
    font-size: 14px;
    border: solid 1px #efa00b;
}

.shop-divide .result .meta a i {
    font-weight: 600;
    font-size: 11px;
}


.shop-divide .result .meta a:hover {
    color: #efa00b;
    background-color: #fff;
}
