#profile-container {
    min-height: 100vh;
    display: flex;
}

#footer-container {
    margin-top: 0 !important;
}

#profile-nav {
    background-color: #e8e7e7;
    flex: 0 0 205px;
    max-width: 205px;
    margin-right: 40px;
}

#profile-head {
    padding: 0 20px;
    text-align: center;
    margin-bottom: 60px;
}

#profile-head .img {
    height: 73px;
    width: 73px;
    border-radius: 50%;
    background-color: #EFA00B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin: 30px auto 8px;
}

#profile-head .logo {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    margin-top: 40px;
}

#profile-head .logo img {
    min-height: 30px;
    max-height: 400px;
    object-fit: contain;
    object-position: 50% 50%;
    max-width: 100%;
}

#profile-head .name {
    font-weight: 600;
    font-size: 16px;
}

#profile-head .id {
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    color: #3f3f3f;
    margin-top: 4px;
}

#profile-nav-list {
    color: #3f3f3f;
    padding-bottom: 40px;
}

#profile-nav-list .seg {
    padding-right: 7px;
    margin-bottom: 10px;
}

#profile-nav-list .title .tag {
    background-color: #D0D0D0;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    padding: 4px 6px;
    border-radius: 100px;
    float: right;
    position: relative;
    top: -2px;
}

#profile-nav-list .title {
    padding: 10px 10px 10px 14px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    border-radius: 0 100px 100px 0;
    color: #444;
    display: block;
}

#profile-nav-list .seg:not(.last) .title:hover {
    background-color: #fff;
}

#profile-nav-list .seg .title.active {
    background-color: #fff;
}

#profile-nav-list .seg .title.active i {
    color: #0075C4;
}

#profile-nav-list .title i {
    font-size: 16px;
    margin-right: 14px;
    position: relative;
    top: 1px;
}

#profile-nav-list .list {
    padding: 4px 4px 4px 47px;
}

#profile-nav-list .list a {
    font-size: 13px;
    color: #3f3f3f;
    display: block;
    padding: 4px 0;
}

#profile-nav-list .list a.col {
    color: #EFA00B;
    font-weight: 600;
}

#profile-nav-list .list a:hover {
    color: #0275c4;
    text-decoration: underline;
}

#profile-nav-list .seg.last {
    border-top: solid 1px #ccc;
    margin-left: 14px;
    width: calc(100% - 28px);
}

#profile-nav-list .seg.last .title {
    padding-left: 0;
    padding-right: 0;
}

#profile-nav-list .seg.last .title:hover {
    opacity: 1;
}

#profile-nav-list .seg.gap {
    margin-top: 50px;
}

#profile-nav-list .list label {
    margin: 10px 0;
    display: block;
}


#profile-nav-list .list label:last-child {
    margin-bottom: 5px;
}

#profile-nav-list .list input[name="status[]"][value="active"]:checked + .box {
    background-color: #26AD10;
    border-color: #26AD10 !important;
}


#profile-nav-list .list input[name="status[]"][value="inactive"]:checked + .box {
    background-color: #EFA00B;
    border-color: #EFA00B !important;
}


#profile-nav-list .list input[name="status[]"][value="expired"]:checked + .box {
    background-color: #FB3640;
    border-color: #FB3640 !important;
}


#profile-nav-list .seg.color .title, #profile-nav-list .seg.color .list a {
    color: #EFA00B;
    font-weight: 600;
}

#profile-nav-list .seg.color .title i {
    color: #efa00b;
}

#profile-nav-list .more {
    margin-top: 15px;
    color: #3F3F3F;
    font-size: 11px;
    font-weight: 400;
    padding: 0 10px 16px 14px;
    position: relative;
}

#profile-nav-list .more:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
    left: 14px;
    border-bottom: solid 1px #ccc;
    height: 0;
}

#profile-nav-list .more i {
    font-size: 15px;
    margin-right: 15px;
    color: #827F7F;
}

#profile-content {
    flex: 1;
    padding-bottom: 40px;
}

.profile-stats {
    margin-bottom: 30px;
}

.profile-stats .stat {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
    margin-right: 15px;
    flex: 1;
    text-align: center;
    position: relative;
}

.profile-stats .stat > strong {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0075C4;
    color: #0075C4;
    font-weight: 600;
    font-size: 18px;
    border-radius: 50%;
}

.profile-stats .stat > p {
    margin-top: 14px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(97, 97, 97, 0.6);
}

.profile-stats .stat.large {
    flex: 1.5 1 auto;
    text-align: left;
    background-color: #c8dfef;
    max-width: 454px;
    align-items: center;
}

.profile-stats .stat.large .tag {
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
    background: #EFA00B;
    border-radius: 10px 0 0 10px;
    position: absolute;
    right: -5px;
    top: 10px;
    padding: 5px 18px;
}

.profile-stats .tag:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 0;
    border-color: #EFA00B transparent transparent transparent;
    position: absolute;
    right: 0;
    top: 100%;
}

.profile-stats .stat:last-child {
    margin-right: 0;
}

.profile-stats .stat.large .content {
    margin-left: 30px;
}

.profile-stats .stat.large .content strong {
    font-weight: 600;
    font-size: 16px;
    color: #0075C4;
    line-height: 1.5;
    display: block;
    padding-right: 68px;
}

.profile-stats .stat.large .content p {
    font-weight: 500;
    font-size: 14px;
    color: rgba(97, 97, 97, 0.6);
    margin-top: 10px;
}

.profile-stats .stat.large .content p a {
    float: right;
    color: #0075C4;
    font-weight: 500;
    cursor: pointer;
}

.profile-stats .stat.large .content p a:hover {
    opacity: 0.7;
}

#profile-content .post-results .result {
    position: relative;
    padding: 25px 20px 56px;
}

#profile-content .post-results .result .img {
    background-color: #f2f2f2;
}

#profile-content .post-results .result .img img {
    height: 100%;
}

#profile-content .post-results .result .data {
    margin-left: 15px;
    padding-left: 15px;
    border-left: solid 1px #ddd;
}

#profile-content .post-results .result .data p {
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 13px;
    color: #000;
}

#profile-content .post-results .result .data p i {
    font-size: 15px;
    color: #D0D0D0;
    position: relative;
    top: 1px;
    margin-right: 8px;
}

#profile-content .post-results .result .bio .head {
    margin-bottom: 20px;
}

#profile-content .post-results .result .bio .head strong {
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    line-height: 1.5;
}

#profile-content .post-results .result .bio .head .name {
    flex: 1;
    margin-right: 8px;
}

#profile-content .post-results .result .bio .status:before {
    content: '';
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #26AD10;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#profile-content .post-results .result .bio .status {
    color: #26AD10;
    font-size: 14px;
    padding-left: 24px;
    position: relative;
}

#profile-content .post-results .result.status-inactive .status {
    color: #FB3640;
}

#profile-content .post-results .result.status-inactive .status:before {
    background-color: #FB3640;
}

#profile-content .post-results .result .img {
    width: 157px;
    height: 112px;
}

#profile-content .post-results .result .bio {
    flex: 1;
}


#profile-content .post-results .result .options {
    position: absolute;
    left: 30px;
    bottom: 11px;
    width: 100%;
}

#profile-content .post-results .result .options button.paid {
    opacity: 0;
    transform: translateY(20px);
}

#profile-content .post-results .result:hover .options button {
    opacity: 1;
    transform: none;
}

#profile-content .post-results .result .options button {
    margin-left: 20px;
    background-color: transparent;
    border: solid 1px #0075C4;
    color: #0075C4;
    border-radius: 100px;
    font-weight: 600;
    font-size: 13px;
    padding: 8px 18px;
    display: inline-block;
    cursor: pointer;
    transition: all 230ms cubic-bezier(.61, 1, .88, 1) 1ms;
}

#profile-content .post-results .result .options button:hover {
    background-color: #0075C4;
    color: #fff !important;
}

#profile-content .post-results .result .options button.paid {
    border-color: #EFA00B;
    color: #EFA00B;
}

#profile-content .post-results .result .options button.paid:hover {
    background-color: #EFA00B;
}

#profile-content .post-results .result .options button i {
    font-size: 12px;
    margin-left: 8px;
}


#profile-content .pagination {
    margin-top: 40px;
}


.profile-edit-tile {
    background-color: #fff;
    border-radius: 10px;
    padding: 50px 0;
}

.profile-edit-tile > .content {
    max-width: 440px;
    width: 100%;
    margin: auto;
}

.profile-edit-tile > .content.fw {
    max-width: 100%;
}

.profile-edit-tile h3 {
    font-weight: 600;
    font-size: 16px;
    color: #0075C4;
    margin-bottom: 25px;
}


.profile-edit-tile .row {
    margin-bottom: 20px;
}

.profile-edit-tile button.save {
    margin-top: 40px;
}

.profile-edit-tile .row.indent {
    margin-top: -10px;
    padding-left: 20px;
}

.profile-edit-tile .profile-logo .img {
    height: 90px;
    width: 150px;
    background-color: #eee;
    margin-right: 40px;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
}

.profile-edit-tile .profile-logo label, .profile-cover label {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.profile-edit-tile .profile-logo label input, .profile-cover label input {
    opacity: 0;
    position: absolute;
    top: 0;
}

.profile-edit-tile .profile-logo a {
    background: #0075C4;
    height: 27px;
    width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 4px;
    font-size: 13px;
    right: -12px;
}

.profile-edit-tile .profile-logo .img:hover a {
    background-color: #006bb3;
}

.profile-edit-tile .profile-logo p, .profile-cover p {
    font-size: 13px;
    line-height: 1.8;
    color: #827F7F;
}

.profile-cover > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    color: #3F3F3F;
    padding-left: 30px;
    position: relative;
    margin-bottom: 20px;
}

.profile-cover > p i {
    position: absolute;
    left: 0;
    top: 4px;
    color: #0075C4;
    font-size: 16px;
}

.profile-cover .flx {

}

.profile-cover .flx label {
    flex: 0 0 auto;
    width: auto;
    margin-right: 35px;
}

.profile-cover .flx p {
    flex: 1;
}

.profile-cover .btn i {
    font-weight: 600;
}

.profile-edit-tile .seg {
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: solid 1px #ddd;
}


#profile-delete {
    margin-top: 50px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    color: #FB3640;
    cursor: pointer;
}

#profile-delete:hover {
    opacity: 0.7;
}

#profile-delete i {
    font-size: 16px;
    margin-right: 10px;
}
